
.WhyUs-Card {
  max-width: 1200px;
  margin: auto auto 1rem;



img {
  max-width: 128px;
  height: auto;
}
}


.css-mhc70k-MuiGrid-root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0px !important;
  margin-left: 8px !important;
  justify-content: center;
  align-items: center;
}